
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.intro {
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.bg {
  background-image: url('https://res.cloudinary.com/dtpgi0zck/image/upload/s--5xsqq2ik--/c_fill,h_580,w_860/v1/EducationHub/photos/great-zimbabwes-great-enclosure.webp');
   position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(10px)
}
.loading-text{
  font-size: 50px opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; ;
  color: #fff;
}
}
